/* -------------------------------------- */
/* Page Contact (CSS) */
/* -------------------------------------- */
.page-title {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title h1 {
    font-size: 42px;
    color:  #007bff;
    font-weight: 600;
    letter-spacing: 1px;
}

.title-underline {
    width: 120px;
    height: 5px;
    margin: 12px auto 0;
    background: linear-gradient(90deg, #1c95eb, #30ce27);
    border-radius: 5px;

    transform: scaleX(0);
    animation: underline-grow 0.8s ease-out forwards;
}

@keyframes underline-grow {
    to {
        transform: scaleX(1);
    }
}

.contact-layout {
    display: flex;
    padding: 40px 5%; 
    gap: 30px; 
}

.contact-info {
    width: 40%;
    border-right: 1px solid black; 
    padding-right: 30px; 
}

.contact-form-container { 
    width: 60%;
    padding-left: 30px; 
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

/* -------------------------------------- */
/* Style des éléments du Formulaire */
/* -------------------------------------- */

/* ----- Titre stylé ----- */
.titre-infos {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.titre-infos h2 {
  font-size: clamp(28px, 3.2vw, 35px);
  font-weight: 700;
  line-height: 1.25;
  color: #1c95eb;
}

/* Petite barre décorative sous le titre */
.titre-infos::after {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  margin: 18px auto 0;
  background: linear-gradient(90deg, #1c95eb, #30ce27);
  border-radius: 20px;
}

.contact-form-container form {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container select,
.contact-form-container textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form-container textarea {
    resize: vertical;
}

.contact-form-container button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form-container button[type="submit"]:hover {
    background-color: #0056b3;
}


/* Version téléphone/tablette */
@media (max-width: 768px) {
    .contact-layout {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #ccc; 
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    .contact-form-container {
        width: 100%;
        padding-left: 0;
        gap: 15px;
    }
}

.contact-info h2 {
    color: #007bff;
}

.contact-form-container h2 {
    color: #007bff;
}
